<!--Dashboard html file-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interview Sessions Dashboard</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" sizes="32x32">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard_style.css') }}">
</head>
<body>
    <header>
        <h1>Your Dashboard</h1>
        <nav>
            <a href="/start_interview">Start New Interview</a> <a href="/settings">Settings</a> <a href="/logout">Logout</a>
        </nav>
    </header>

    <main>
        <h1>Welcome!</h1>
        <ul class="session-grid">
            {% for session in sessions %}
            <li class="session-box">
                <span class="session-info">
                    Session ID: {{ session.session_id }} <br> Timestamp: {{ session.timestamp }}
                </span>
                <a href="{{ url_for('view_session', session_id=session.session_id) }}" class="view-details-button">View Details</a>
            </li>
            {% endfor %}
        </ul>
    </main>
    <footer>
    </footer>
</body>
</html>